@model ClientMvc.ModelViews.EventsViewModel

@{
    ViewData["Title"] = "Secret Page";
}

<ul class="navbar-nav flex-grow-1">
    @foreach (EventDto ev in Model.AllEvents)
    {
        <li class="nav-item">
            <p> @ev.Id </p>

            <p> @ev.IsAllDayEvent </p>
            <p> @ev.BeginTime </p>
            <p> @ev.EndTime </p>

            <p> @ev.Title </p>
            <p> @ev.Message </p>

            <p> @ev.Lattitude </p>
            <p> @ev.Longtitude </p>
            <p> @ev.LocationName </p>

            <p> @ev.UserId </p>
        </li>
    }
</ul>